.buttonMakeUpload {
  display: none;
  /* background-color: #f00; */
}

.wrapperDiv:has(button[data-state='ready']) .buttonMakeUpload {
  /* background-color: #0f0; */
  display: flex;
}

.buttonChooseFiles {
  /* background-color: #0f0; */
  display: flex;
}

.wrapperDiv:has(button[data-state='ready']) .buttonChooseFiles {
  /* background-color: #f00; */
  display: none;
}